#version: "3"
#version: '3.8'
services:
  windows:
    image: dockurr/windows
    container_name: win11p
    environment:
      VERSION: "win11"
      RAM_SIZE: "12G"
      CPU_CORES: "6"
      DISK_SIZE: "256G"
    devices:
      - /dev/kvm
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
      - 3389:3389/tcp
      - 3389:3389/udp
    stop_grace_period: 2m
    restart: on-failure
    volumes:
      - ./storage:/storage
