services:
  postgres:
    image: postgres:latest
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "user$pw"
    volumes:
      - ./data:/var/lib/postgresql
