services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./data:/data

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    ports:
      - "21000:8081"
    environment:
      - REDIS_HOSTS=local:redis:6379
    depends_on:
      - redis
